@import "../_global/scss/vendor/bootstrap-mixins.scss";
@import '../_global/scss/variables.scss';

.site-footer {
  background-color: $black;
  padding: 73px 0;
  position: relative;
  z-index: 9;

  @include media-breakpoint-down(sm) {
    padding: 61px 0;
  }

  .container {
    width: 100%;
    max-width: calc(100% - 200px);

    @include media-breakpoint-down(lg) {
      max-width: calc(100% - 50px);
    }
    @include media-breakpoint-down(sm) {
      width: calc(100% - 37px);
    }
  }

  a {
    color: $brand-primary;

    &:hover, &:focus {
      color: $white;
    }
  }

  &__logo {
    display: table;

    @include media-breakpoint-down(sm) {
      margin: 0 auto;
    }
  }

  .social {

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin: 0;

      &:before {
        display: none;
      }

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: flex-end;
      }

      li {
        margin-bottom: 5px;
        margin-right: 35px;

        &:last-child {
          margin-right: 0;

          @include media-breakpoint-down(sm) {
            margin-bottom: 0;
          }
        }

        @include media-breakpoint-down(sm) {
          min-width: 25px;
          margin-right: 0;
          margin-bottom: 21px;
          line-height: 1;
        }
      }

      a {
        color: $brand-primary;

        &:hover, &:focus {
          color: $white;
        }
      }
    }
  }
}

.footer-nav {
  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }
}

.secondary-menu {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
  }

  li {
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    margin-right: 9%;
    line-height: 1.23;
    font-family: $font-family-sans-serif-alt;

    @include media-breakpoint-down(lg) {
      margin-right: 6%;
    }
    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  a {
    display: table;
    color: $brand-primary;

    &:hover, &:focus {
      color: $white;
    }

    path {
      fill: currentColor;
      transition: fill 0.3s ease-in-out;
    }
  }
}

.privacy-link {
  text-align: center;
  margin-top: 8%;
  font-family: $font-family-sans-serif-alt;font-size: 18px;
  font-style: italic;
  line-height: 1.23;

  a {
    font-family: $font-family-sans-serif-alt;

     span {
       font-weight: 700;
     }
  }

  @include media-breakpoint-down(md) {
    margin-top: 0;
    margin-bottom: 52px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 85px;
    margin-top: 0;
    text-align: left;

    & > span {
      display: none;
    }
  }
}