@import '../_global/scss/vendor/bootstrap-mixins.scss';
@import '../_global/scss/variables.scss';

.site-header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: $nav_width;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, left 0.3s ease-in-out;

  &:hover {
    background-color: transparentize($white, 0.2);
  }

  @include media-breakpoint-down(sm) {
    width: 53px;
    height: 106px;
    /* position: absolute;
    height: 100vh; */
  }

  .menu-open & {
    left: $nav_width * (400/95);

    @include media-breakpoint-down(sm) {
      left: 0;
      position: fixed;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    z-index: -1;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  #bypass-link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    min-width: 200px;
    padding: 20px;
    text-align: center;
    background-color: $white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;

    &:focus {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.logo {
  min-width: $nav_width;
  min-height: $nav_width;
  padding: $nav_padding;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;

  @include media-breakpoint-down(sm) {
    width: 53px;
    height: 53px;
    min-width: 53px;
    min-height: 53px;
    padding: 12px;
    z-index: 1;
  }
}

.main-navigation {
  width: $nav_width * (400/95);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: $white;
  padding-left: 80px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  @include media-breakpoint-down(sm) {
    width: 100vw;
    padding-left: 20px;
    height: 100vh;
    transition: left 0.3s ease-in-out;

    .menu-open & {
      left: 100vw;
    }
  }
}

.primary-menu {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  width: calc(100% - 100px);
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  padding: 20px 0;
  max-height: 100%;

  /* @include media-breakpoint-down(sm) {
    left: 50%;
    transform: translate(-50%, -50%);
  } */

  > li {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    font-family: $font-family-sans-serif-alt;
    letter-spacing: -1.4px;
    margin-bottom: 37px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 17px;
    }

    &:last-child {
      margin-bottom: 20px;
    }

    > a {
      transition: color 0.2s ease-in-out, padding 0.2s ease-out;
      position: relative;
      &:hover,
      &:focus {
        padding-left: 30px;
        color: $brand-primary;

        &:before {
          width: 80px;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: -6px;
        left: -80px;
        height: 2px;
        background-color: $text-alt;
        width: 0;
        margin: auto;
        transition: width 0.2s ease-out;
      }
    }
  }

  a {
    display: table;
    color: $text-alt;
  }
}

$icon_width: $nav_width * (54/95);
$icon_height: $nav_width * (31/95);
.menu {
  &-icon {
    width: $nav_width;
    height: $nav_width;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    background-color: $brand-primary;
    background-image: url(../_global/images/hamburger.svg);
    background-size: $icon_width $icon_height;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;

    @include media-breakpoint-down(sm) {
      width: 53px;
      height: 53px;
      background-size: 28px 16px;
    }

    span {
      display: none;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: #ab2d2a;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 10px;
        left: auto;
        right: 0;
      }
      &:nth-child(3) {
        top: 20px;
      }
    }

    &.active {
      background-image: url(../_global/images/hamburger-close.svg);

      @include media-breakpoint-down(sm) {
        background-size: 25px 18px;
      }

      span {
        &:nth-child(1) {
          top: 10px;
          transform: rotate(135deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          top: 10px;
          transform: rotate(-135deg);
        }
      }
    }

    /* &:before {
      content: '';
      position: absolute;
      top: -95px;
      height: 100vh;
      width: 100%;
      background-color: $white;
      z-index: -1;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      pointer-events: none;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    } */

    &.hover {
      &:before {
        opacity: 0.9;
      }
    }
  }
}

.arrow {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  right: 15px;
  cursor: pointer;
  display: none;

  &:before,
  &:after {
    content: '';
    background-color: #b4281e;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: opacity 0.3s ease-in-out;
  }

  &:before {
    height: 2px;
    width: 20px;
  }

  &:after {
    width: 2px;
    height: 20px;
  }

  &.up {
    &:after {
      opacity: 0;
    }
  }
}

.social {
  margin-top: auto;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 1;
  position: relative;

  @include media-breakpoint-down(sm) {
    .site-header & {
      display: none;
    }
  }

  @media screen and (max-height: 500px) {
    .site-header & {
      display: none;
    }
  }

  .follow {
    transform: rotate(-90deg) translateY(-15%) translateX(50%);
    // display: table;
    font-size: 16px;
    font-weight: 700;
    font-family: $font-family-sans-serif-alt;
    color: $text-alt;
    margin: auto;
    line-height: 1;
    height: 16px;
    width: 78px;
    position: absolute;
    top: 0;
    left: 0;

    @include media-breakpoint-down(sm) {
      margin: 0 0 0 -13px;
    }
  }

  ul {
    padding: 0;
    margin: 15vh 0 4.8vh;
    list-style-type: none;
    text-align: center;
    position: relative;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-in-out;

    &:before {
      position: absolute;
      bottom: calc(100% + 23px);
      left: 0;
      right: 0;
      margin: auto;
      width: 2px;
      height: calc(15vh - 46px);
      background-color: #b9b9b9;
      content: '';
      transform: scaleY(1);
      transform-origin: top center;

      transition: transform 0.2s 0.2s ease-in-out;

      @include media-breakpoint-down(sm) {
        height: 30px;
      }
    }

    li {
      margin-bottom: 28px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $text-alt;

      &:hover,
      &:focus {
        color: $brand-secondary-alt;
      }
      path {
        fill: currentColor;
        transition: fill 0.3s ease-in-out;
      }
    }
  }

  &.overlapping {
    ul:before {
      transition-delay: 0s;
      transform: scaleY(0);
    }
    ul {
      transition-delay: 0.1s;
      transform: translate3d(0, -10.7vh, 0);
    }

    @media screen and (max-height: 700px) {
      opacity: 0;
      pointer-events: none;
    }
  }
}
